*{
    box-sizing: border-box;
    font-family: "freight-sans-pro",sans-serif;
    color: #121212;
}

body{
    margin: 0;
}
h1{
    font-weight: 600;
}
h2,
h3,
h4{
    font-weight: 500;
}
h2{
    font-size: 2em;
    font-weight: 500;
}
h3{
    font-size: 1.5em;
}
p{
    font-size: 1.1em;
    color: #64605F;
    line-height: 1.5em;
}

section.sec-padding{
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
}

.container{
    max-width: 1024px;
    width: 90%;
    margin: 0 auto;
}
.section-tag-blue,
.section-tag-red,
.section-tag-purple{
    padding: 10px 15px;
    border-radius: 50px;
    font-weight: 600;
}
.section-tag-blue{
    color: #E8692B;
    background-color: #F0F2FF;
}
.section-tag-red{
    color: #BA4238;
    background-color: #FBE8E1;
}
.section-tag-purple{
    color: #642D92;
    background-color: #E8DFEF;
}
.text-center{
   text-align: center; 
}
.line-text{
    color: #E8692B;
    position: relative;
    margin-left: 110px;
}
.line-text::before{
    content: '';
    width: 80px;
    height: 2px;
    background-color: #E8692B;
    position: absolute;
    left: -100px;
    top: 17px;
}

/* =======================
 Welcome Banner 
 ========================= */

.banner .banner-img svg{
    width: 100%;
    margin-top: 70px;
    height: auto;
    position: relative;
}
.banner{
    padding-top: 150px;
}
.banner h1{
    font-size: 2.5em;
}
.banner p{
    margin-bottom: 30px;
}
.banner .banner-link{
    text-decoration: none;
    padding: 10px 40px;
    background-color: #E8692B;
    color: #fff;
    font-size: 1.2em;
    border-radius: 5px;
}

/* =======================
 Digital Strategies 
 ========================= */
section{
    position: relative;
}
/* section.left-bg::before{
    content: '';
    height: 60%;
    width: 40%;
    bottom: 20px;
    position: absolute;
    background-color: #FFF0E8;
    z-index: -10;
} */
section.left-bg .banner-img::before{
    content: '';
    height: 100%;
    width: 200%;
    position: absolute;
    background-color: #FFF0E8;
    left: -160%;
    top: 8%;
    z-index: -10;
}
section.right-bg .banner-img::after{
    content: '';
    height: 100%;
    width: 200%;
    position: absolute;
    background-color: #FFF0E8;
    right: -160%;
    top: 7%;
    z-index: -10;
}

/* section.right-bg::after{
    content: '';
    height: 60%;
    width: 40%;
    bottom: 20px;
    position: absolute;
    background-color: #FFF0E8;
    z-index: -10;
    right: 0px;
} */

.section .section-text{
    margin-top: 80px;
}
.section .banner-img{
    position: relative;
}
.section .banner-img img{
    margin-top: 70px;
    width: 80%;
}

/* =======================
 Our Philosophy
 ========================= */

 .philosophy .philosophy-text{
     margin-top: 80px;
 }

/* =======================
 Who we are
 ========================= */
 .wwa{
     padding-top: 10px;
     padding-bottom: 60px;
     background-color: #F8F8F8;
     margin-top: 70px;
 }
 .wwa .wwa-text{
     margin-top: 50px;
 }

/* =======================
 Early-access
 ========================= */
 .early-access {
     background-color: #FAEFEA;
 }
 .early-access .early-access-text{
     margin-top: 80px;
     padding: 50px 20px;
     background-color: #ffffff;
 }
 .early-access .early-access-text a{
     text-decoration: none;
     color: #E8692B;
     font-weight: 500;
 }

 /* =======================
 Our Portfolio Companies
 ========================= */
.portfolio .logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.portfolio .logo img{
    width: 120px;
}

/* =======================
 Newsletter
 ========================= */
 .newsletter {
     margin-top: 100px;
 }
 .form form div{
     position: relative;
     margin-bottom: 30px;
     margin-top: 40px;
     display: flex;
     justify-content: space-between;
     max-width: 500px;
 }
 .newsletter .form form div{
     
     margin-left: auto;
     margin-right: auto;
 }
 .form form div [type='email']{
    width: 85%;
    padding: 20px;
    border: 1px solid #E8692B;
    font-size: 16px;
    display: block;
    border-radius: 5px;
 }
 .form form div button{
     padding: 10px;
     width: 13%;
     height: 63px;
     background-color: #E8692B;
     border: 1px solid #E8692B;
     color: #F8F8F8;
     font-size: 30px;
     font-weight: 600;
     margin-left: 5px;
     border-radius: 5px;
     display: block;
     position: relative;
    top: 1px;
 }
.newsletter h2,
.newsletter p{
     text-align: center;
}
.newsletter .app-store{
    max-width: 330px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
}
.newsletter .app-store img{
    width: 153px;
    height: 44px;
}

 /* =======================
 Testimonies 
 ========================= */
.testimony{
    background-color: #FAEFEA;
}
.testimony h2,
.testimony .list .meta h3,
.testimony .list .meta p{
    text-align: center;
}
.testimony h2,
.testimony .list .meta{
    max-width: 700px;
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
}
.testimony .list .meta{
    padding: 70px 30px;
    background-color: #ffffff;
    position: relative;
    margin-top: 120px;
}
.testimony .list .meta img{
    width: 100px;
    border-radius: 50px;
    display: block;
    position: absolute;
    top: -40px;
    left: 35%;
}
.testimony .carousel-dot{
    position: absolute;
    bottom: 20px;
    left: 47%;
}


/* The dots/bullets/indicators */
.carousel{
    position: relative;
}
.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #1212120D;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #E8692BD3;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }


 /* =======================
 Recognized
 ========================= */
section.recognized h2{
    text-align: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
 .recognized .logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
}
.recognized .logo div{
    width: 180px;
    margin-bottom: 40px;
}
.recognized .logo img{
    width: 100%;
}


 /* =======================
 Footer
 ========================= */
footer{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #FAEFEA;
    text-align: center;
}
footer .logo{
    width: 93px;
    height: 55px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    mix-blend-mode:luminosity;
}
footer .footer-link {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 20px;
    margin-left: 0px;
    margin-top: 20px;
}
footer .footer-link a {
    text-decoration: none;
    color: #121212;
    display: block;
    text-align: center;
}



@media (min-width: 768px){
    .container {
        max-width: 720px;
    }
    
    /* Welcome Banner */
    .banner .banner-img img{
        width: 70%;
        margin-right: auto;
        margin-left: auto;
        display: block;
    }

    /* Section Image */
    .section .banner-img{
        max-width: 400px;
        margin-right: auto;
        margin-left: auto;
    }

    /* Testimony */
    .testimony .list .meta img{
        left: 40%;
    }

    /* BG Layer */
    /* section.left-bg::before{
        content: '';
        height: 63%;
        width: 40%;
        bottom: 40px;
    }
    section.right-bg::after{
        content: '';
        height: 63%;
        width: 50%;
        bottom: 40px;
    } */
    section.left-bg .banner-img::before{
        top: 6%;
    }
    section.right-bg .banner-img::after{
        top: -1%;
    }
}

@media (min-width: 992px){
    .container {
        max-width: 1111px;
    }
    .banner .banner-img svg{
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        display: block;
        margin-top: 0px !important;
    }
    section.section{
        height: 100vh;
    }
    /* Banner */
    .banner .container{
        display: flex;
        justify-content: space-between;
        margin-top: 80px;
    }
    .banner .container .banner-text1{
        max-width: 380px;
        
    }
    .banner .container .banner-text{
        max-width: 350px;
        
    }
    .banner-text h1{
        font-size: 2em;
        margin-bottom: 0px;
    }
    .container .banner-img{
        width: 400px;
    }
    .container .banner-img.welcome{
        min-width: 550px;
    }
    
    .banner-img img{
        position: relative;
        margin-top: 0px;
        width: 100%;
        top: -60px;
    }
    .img-size{
        max-width: 500px !important;
    }
    /* Section Image */
    .section .banner-img{
        max-width: 400px;
        margin-right: 0px;
        margin-left: 50px;
    }

    /* section */
    .section .container{
        display: flex;
        justify-content: space-between;
        margin-top: 90px;
    }
    .section .container.reverse{
        flex-direction: row-reverse;
    }
    .section .container .section-text{
        width: 45%;
        margin-top: 100px;
    }
    .section .container .section-text h2{
        margin-top: 100px;
    }

    /* Philosophy */
    .philosophy .container .wrapper{
        display: flex;
        justify-content: space-between;
    }
    .philosophy .container .wrapper .philosophy-text{
        width: 47%;
        margin-top: 0px;
    }

    /* Who we are */
    .wwa .container .wrapper{
        display: flex;
        justify-content: space-between;
    }
    .wwa .container .wrapper .wwa-text{
        width: 32%;
        margin-top: 0px;
    }

    /* early-access */
    .early-access .container .wrapper{
        display: flex;
        justify-content: space-between;
    }
    .early-access .container .wrapper .early-access-text{
        width: 30%;
        margin-top: 0px;
    }

    /* Newsletter */
    .newsletter .container .form{
        max-width: 700px;
        margin-right: auto;
        margin-left: auto;
    }
    .newsletter .container .wrapper-2{
        display: flex;
        justify-content: space-between;
    }
    .newsletter .container .wrapper-2 .meta{
        width: 32%;
        margin-top: 0px;
    }

    /* Footer */
    footer .container{
        display: flex;
        justify-content: space-between;
    }
    footer .container img{
        margin-right: 0px;
        margin-left: 0px;
        width: 93px;
        height: 55px;
    }
    footer .footer-link{
        width: 400px;
    }
    footer .container .copyright{
        margin-top: 20px;
    }
    /* Testimony */
    .testimony .list .meta img{
        left: 43%;
    }
}

@media (min-width: 1024px){
    .section .container .section-text {
        max-width: 300px;
        margin-top: 70px;
        margin-right: 190px;
    }
    .section .container .section-text.left {
        margin-right: 0px;
        margin-left: 150px;
    }
    .banner .container .banner-img{
        width: 60%;
        position: relative;
        top: -80px;
    }

    /* BG Layer */
    section.left-bg,
    section.right-bg{
        position: relative;
    }
    /* section.left-bg::before{
        content: '';
        height: 80%;
        width: 30%;
        bottom: 30px;
    }
    section.right-bg::after{
        content: '';
        height: 88%;
        width: 30%;
        bottom: -40px;
    } */
    section.left-bg .banner-img::before,
    section.right-bg .banner-img::before{
        top: -1%;
    }
    
    section .banner-im img{
        top: 30px;
        position: relative;
    }
}
@media (min-width: 1200px){
    /* section.left-bg::before,
    section.right-bg::after{
        content: '';
        height: 79%;
        width: 30%;
        bottom: 80px;
    } */
    section.left-bg .banner-img::before,
    section.right-bg .banner-img::before{
        top: -2%;
    }
    .section .container .section-text {
        max-width: 400px;
        margin-top: 90px;
        margin-right: 190px;
    }
    .banner-text h1{
        font-size: 3em;
    }
    h2{
        font-size: 2.5em;
        font-weight: 500;
    }
}
@media (min-width: 1280px){
    section.section{
        height: 90vh;
    }
    /* section.left-bg::before{
        content: '';
        height: 80%;
        width: 30%;
        bottom: 30px;
    }
    section.right-bg::after{
        content: '';
        height: 80%;
        width: 30%;
        bottom: 30px;
    } */
    
}